<header class="shadow-lg py-4 px-6 md:px-12 fixed w-full z-50 rounded-b-lg top-0">
  <div class="flex items-center justify-between w-full">
    <nav class="flex items-center w-full md:pl-0">
      <!-- Left: Logo + Navigation links -->
      <div class="flex items-center">
        <a href="/#home" class="flex items-center">
          <img src="/assets/images/logo.png" alt="Mạnh Huỳnh Logo" class="h-20 md:h-10 w-auto" />
        </a>
        <ul class="hidden md:flex space-x-8 ml-8">
          <li><a href="/#home" class="text-main hover:text-accent-strong transition duration-300 text-lg font-medium" data-lang-key="nav_home">Trang Chủ</a></li>
          <li><a href="/about" class="text-main hover:text-accent-strong transition duration-300 text-lg font-medium" data-lang-key="nav_about">Giới Thiệu</a></li>
          <li><a href="/#portfolio" class="text-main hover:text-accent-strong transition duration-300 text-lg font-medium" data-lang-key="nav_portfolio">Dự Án</a></li>
          <li><a href="/#services" class="text-main hover:text-accent-strong transition duration-300 text-lg font-medium" data-lang-key="nav_services">Dịch Vụ</a></li>
          <li><a href="/#contact" class="text-main hover:text-accent-strong transition duration-300 text-lg font-medium" data-lang-key="nav_contact">Liên Hệ</a></li>
          <li><a href="/blog" class="text-main hover:text-accent-strong transition duration-300 text-lg font-medium" data-lang-key="nav_blog">Blog</a></li>
        </ul>
      </div>
      <!-- Right: Theme & Language toggle -->
      <div class="flex flex-col sm:flex-row items-center md:space-x-4 space-y-2 sm:space-y-0 ml-auto">
        <label class="switch" id="theme-toggle-label">
          <input type="checkbox" id="theme-toggle-checkbox" title="Toggle theme">
          <span class="slider round"></span>
        </label>
        
      </div>
    </nav>
  </div>
 
</header>

