<div id="mobile-toggle" class="md:hidden collapsed">
  <i class="fa-solid fa-chevron-right text-2xl text-white"></i>
  <ul class="mt-4 flex flex-col items-center">
    <li class="menu-item mb-6">
      <a href="/#home" title="Trang chủ" class="flex flex-col items-center text-white hover:text-white transition duration-300">
        <i class="fa-solid fa-house text-2xl"></i>
      </a>
    </li>
    <li class="menu-item mb-6">
      <a href="/about" title="Giới thiệu" class="flex flex-col items-center text-white hover:text-white transition duration-300">
        <i class="fa-solid fa-user text-2xl"></i>
      </a>
    </li>
    <li class="menu-item mb-6">
      <a href="/#portfolio" title="Dự án" class="flex flex-col items-center text-white hover:text-white transition duration-300">
        <i class="fa-solid fa-palette text-2xl"></i>
      </a>
    </li>
    <li class="menu-item mb-6">
      <a href="/#services" title="Dịch vụ" class="flex flex-col items-center text-white hover:text-white transition duration-300">
        <i class="fa-solid fa-briefcase text-2xl"></i>
      </a>
    </li>
    <li class="menu-item">
      <a href="/#contact" title="Liên hệ" class="flex flex-col items-center text-white hover:text-white transition duration-300">
        <i class="fa-solid fa-envelope text-2xl"></i>
      </a>
    </li>
  </ul>
</div>