<footer class="py-8 px-6 md:px-12 text-center rounded-t-lg" style="margin-top: 3rem;">

    <div class="flex justify-between items-center mb-4">
      <div class="flex space-x-4">
        <a href="https://www.tiktok.com/@manhhuynh.designer" title="TikTok" target="_blank" rel="noopener noreferrer" class="text-white hover:text-gray-300 transition duration-300 hover:scale-120">
          <i class="fab fa-tiktok text-2xl transition-transform duration-300 hover:scale-125"></i>
        </a>
        <a href="https://www.instagram.com/manh.des.98" title="Instagram" target="_blank" rel="noopener noreferrer" class="text-white hover:text-gray-300 transition duration-300 hover:scale-120">
          <i class="fab fa-instagram text-2xl transition-transform duration-300 hover:scale-125"></i>
        </a>
        <a href="https://www.behance.net/manhhuynh323b3" title="Behance" target="_blank" rel="noopener noreferrer" class="text-white hover:text-gray-300 transition duration-300 hover:scale-120">
          <i class="fab fa-behance text-2xl transition-transform duration-300 hover:scale-125"></i>
        </a>
        <a href="https://www.linkedin.com/in/manh-huynh-designer" title="LinkedIn" target="_blank" rel="noopener noreferrer" class="text-white hover:text-gray-300 transition duration-300 hover:scale-120">
          <i class="fab fa-linkedin text-2xl transition-transform duration-300 hover:scale-125"></i>
        </a>
        <a href="https://zalo.me/84359312806" target="_blank" rel="noopener noreferrer" class="link-primary hover:underline transition duration-300 flex items-center hover:scale-120">
          <img src="/assets/images/Zalo_logo.svg" alt="Zalo" class="mr-2 zalo-icon w-auto h-6 transition-transform duration-300 hover:scale-125" style="filter: brightness(0) invert(1);">
        </a>
      </div>
      <p class="text-white text-sm">&copy; 2025 Mạnh Huỳnh. All rights reserved.</p>
    </div>
   
</footer>