<header class="shadow-lg py-4 px-6 md:px-12 fixed w-full z-50 rounded-b-lg top-0">
  <div class="flex items-center justify-between max-w-7xl mx-auto md:ml-auto md:mr-auto">
    <nav class="flex items-center justify-between w-full md:pl-0">
      <a href="/" id="logo-link" class="text-3xl font-bold text-main tracking-tight"> Mạnh Huỳnh<span class="text-accent-strong">.</span>
      </a>

      <ul class="hidden md:flex space-x-8">
        <li><a href="/#home" id="nav-home-link" data-hash="home" class="text-main hover:text-accent-strong transition duration-300 text-lg font-medium" data-lang-key="nav_home">Trang Chủ</a></li>
        <li><a href="/about.html" id="nav-desktop-about-link" data-hash="about" class="text-main hover:text-accent-strong transition duration-300 text-lg font-medium" data-lang-key="nav_about">Giới Thiệu</a></li>
        <li><a href="/#portfolio" id="nav-desktop-portfolio-link" data-hash="portfolio" class="text-main hover:text-accent-strong transition duration-300 text-lg font-medium" data-lang-key="nav_portfolio">Dự Án</a></li>
        <li><a href="/#services" id="nav-desktop-services-link" data-hash="services" class="text-main hover:text-accent-strong transition duration-300 text-lg font-medium" data-lang-key="nav_services">Dịch Vụ</a></li>
        <li><a href="/#contact" id="nav-desktop-contact-link" data-hash="contact" class="text-main hover:bg-accent-strong transition duration-300 text-lg font-medium" data-lang-key="nav_contact">Liên Hệ</a></li>
      </ul>

      <div class="flex flex-col sm:flex-row items-center md:space-x-4 space-y-2 sm:space-y-0">
        <label class="switch" id="theme-toggle-label">
          <input type="checkbox" id="theme-toggle-checkbox">
          <span class="slider round"></span>
        </label>
        <button id="lang-toggle-button" class="bg-primary-button hover:bg-primary-button text-white font-bold py-2 px-4 rounded-full shadow-lg transition duration-300 transform hover:scale-105 text-sm" data-lang-key="lang_toggle_target">
          EN
        </button>
      </div>
    </nav>
  </div>
</header>

<div id="mobile-toggle" class="md:hidden collapsed">
  <i class="fa-solid fa-chevron-right text-2xl text-white"></i>
  <ul class="mt-4 flex flex-col items-center">
    <li class="menu-item mb-6">
      <a href="/#home" id="nav-mobile-home-link" data-hash="home" class="flex flex-col items-center text-white hover:text-white transition duration-300">
        <i class="fa-solid fa-house text-2xl"></i>
      </a>
    </li>
    <li class="menu-item mb-6">
      <a href="/about" id="nav-mobile-about-link" data-hash="about" class="flex flex-col items-center text-white hover:text-white transition duration-300">
        <i class="fa-solid fa-user text-2xl"></i>
      </a>
    </li>
    <li class="menu-item mb-6">
      <a href="/#portfolio" id="nav-mobile-portfolio-link" data-hash="portfolio" class="flex flex-col items-center text-white hover:text-white transition duration-300">
        <i class="fa-solid fa-palette text-2xl"></i>
      </a>
    </li>
    <li class="menu-item mb-6">
      <a href="/#services" id="nav-mobile-services-link" data-hash="services" class="flex flex-col items-center text-white hover:text-white transition duration-300">
        <i class="fa-solid fa-briefcase text-2xl"></i>
      </a>
    </li>
    <li class="menu-item">
      <a href="/#contact" id="nav-mobile-contact-link" data-hash="contact" class="flex flex-col items-center text-white hover:text-white transition duration-300">
        <i class="fa-solid fa-envelope text-2xl"></i>
      </a>
    </li>
  </ul>
</div>